<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loginregiste">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.example.creationclientdebug.activity.SingleSigninInfoActivity" />
        <activity android:name="com.example.creationclientdebug.activity.SigninRecodeActivity" />
        <activity android:name="com.example.creationclientdebug.activity.UserInfoActivity" />
        <activity android:name="com.example.creationclientdebug.activity.UserChangeInfoActivity" />
        <activity android:name="com.example.creationclientdebug.activity.MembersActivity" /> <!-- 添加百度地图开发密钥 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="bPekRwRRVt4W7lltSGxLcVixnon1KYr0" />

        <activity android:name="com.example.creationclientdebug.activity.SigninActivity" />

        <service
            android:name="com.example.creationclientdebug.service.HeartBeatService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.example.creationclientdebug.activity.MainApp" />
        <activity android:name="com.example.creationclientdebug.activity.GroupInfoActivity" />
        <activity android:name="com.example.creationclientdebug.activity.GroupApplyActivity" />
        <activity android:name="com.example.creationclientdebug.activity.ApplyInfoActivity" />
        <activity android:name=".GroupMessage" />
        <activity android:name=".activity_group" />
        <activity android:name=".activity_create" />
        <activity android:name=".Tab02Activity" />
        <activity android:name=".activity_search" />
        <activity
            android:name=".MainActivity"
            android:label="签到群" />
        <activity
            android:name=".activity_foget2"
            android:label="找回密码" />
        <activity
            android:name=".acticity_forget"
            android:label="忘记密码" />
        <activity android:name="com.example.creationclientdebug.activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.creationclientdebug.activity.ForgetActivity" />
        <activity android:name="com.example.creationclientdebug.activity.RegisterActivity"></activity>
    </application>

</manifest>